# @name: 上游同步 · CODEOWNERS
# @Descripttion: 保留上游功能实现并兼容本地扩展。
# @version: 1.0.0
# @Author: sm
# @Date: 2026-09-14 09:43:04
# @LastEditTime: 2026-09-14 09:43:04
# @FilePath: .github/CODEOWNERS
# Default owner for the repository
* @vinzdg
