# @name: 上游同步 · .gitignore
# @Descripttion: 保留上游功能实现并兼容本地扩展。
# @version: 1.0.0
# @Author: sm
# @Date: 2026-09-14 09:43:04
# @LastEditTime: 2026-09-14 09:43:04
# @FilePath: .gitignore
.DS_Store
build/
DerivedData/
*.xcodeproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xcuserstate
.swiftpm/
.agents/
.forgeguard/
